name: Continuous Integration (CI)

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v4

      - name: Set up Java toolchain
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Run unit tests
        run: |
          chmod +x ./gradlew
          ./gradlew test

  pmd:
    name: PMD Static Analysis
    runs-on: ubuntu-22.04
    needs: test
    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v4

      - name: Set up Java toolchain
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Run PMD Analysis
        run: |
          chmod +x ./gradlew
          ./gradlew pmdMain pmdTest